nav {
  position: relative;
  top: 0;
  left: 0;
}
nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  color: white;
  background: black;
}

nav ul li {
  float: left;
}

nav ul a {
  display: block;
  padding: 15px;
  text-decoration: none;
  font-weight: bolder;
  font-size: 1.2rem;
}
