<h2>Today's <%= Date.current %> Weather Prophecy<h2/>
<h3>Runes has spoken</h3>
<p> 
  Temperature will be <%= prophecy.temperature %>, with <%= prophecy.rain %> rain and <%= prophecy.wind %> wind.
</p>